- title = 'About'
= provide(:title, title)
%h1.mb-4.text-4xl= title
%p
  %a.text-blue-600.hover:underline{href: "https://railstutorial.jp/"} Ruby on Rails Tutorial
  is a
  %a.text-blue-600.hover:underline{href: "https://railstutorial.jp/#ebook"} book
  and
  %a.text-blue-600.hover:underline{href: "https://railstutorial.jp/#screencast"} screencast
  to teach web development with
  %a.text-blue-600.hover:underline{href: "http://rubyonrails.org/"} Ruby on Rails.
  This is the sample application for the tutorial.
