- title = 'Contact'
= provide(:title, title)
%h1.mb-4.text-4xl= title
%p
  Contact the Ruby on Rails Tutorial about the sample app at the
  %a.text-blue-600.hover:underline{href: "https://railstutorial.jp/contact"} contact page.
