%li.flex.m-2
  = gravatar_for(user, size: 50)
  .p-3= link_to(user.name, user)
  - if current_user.admin? && current_user != user
    .p-3.text-blue-600.hover:underline= link_to 'delete', user, method: :delete, data: { confirm: 'You sure?' }
