- provide(:title, 'All users')

%div{class: 'max-w-xl m-auto'}
  %h1.mb-4.text-4xl All users
  %ul.users
    - @users.each do |user|
      %li
        = gravatar_for(user, size: 50)
        = link_to(user.name, user)
