%div.dropdown.mr-20.hover:text-gray-500.cursor-pointer
  Account
  %div.hidden.dropdown-menu.absolute.text-gray-700.rounded.bg-gray-300
    .mr-6.hover:bg-gray-400.p-3.w-full.rounded-t= link_to 'Profile', current_user
    .mr-6.hover:bg-gray-400.p-3.w-full= link_to 'Settings', '#'
    .mr-6.hover:bg-gray-400.p-3.w-full.rounded-b= link_to 'Log out', logout_path
