%footer{class: 'flex border-t mx-auto p-1 mt-6'}
  The&nbsp;
  .text-blue-600.hover:underline= link_to 'Ruby on Rails Tutorial', 'https://railstutorial.jp/'
  &nbsp;by&nbsp;
  .text-blue-600.hover:underline= link_to 'Michael Hartl', 'http://www.michaelhartl.com/'
  %nav.items-center.justify-between.flex-wrap.ml-auto
    %ul.flex
      %li.mr-6.hover:text-gray-500= link_to 'About', about_url
      %li.mr-6.hover:text-gray-500= link_to 'Contact', contact_url
