%header.bg-gray-800.p-6.leading-8
  %div.flex.text-gray-100
    %h1.tracking-tight.font-semibold.text-xl.mr-6.ml-6.hover:text-gray-500.font-extrabold= link_to 'SAMPLE APP', root_url, class: ''
    %nav.items-center.justify-between.flex-wrap
      %ul.absolute.flex.right-0
        %li.mr-6.hover:text-gray-500= link_to 'Home', root_url
        %li.mr-6.hover:text-gray-500= link_to 'Help', help_url
        %li.mr-6.hover:text-gray-500= link_to 'Log in', '#'
